<% var title = 'aboutのタイトルタグ'; %>
<% var description = 'aboutのディスクリプション'; %>
<% var path = ''; %>
<% include ../../_include/_header.ejs %>

<!-- /content -->
<div id="content">
  <div class="inner">

    <p>ここはaboutページです</p>
    <a href="/">トップページに移動</a>
    <img src="/img/sample.jpg" alt="サンプル画像">

  </div><!-- /inner -->
</div><!-- /content -->

<% include ../../_include/_footer.ejs %>