<% var pagetitle = 'about | '; %>
<% var description = 'aboutのディスクリプション'; %>
<% var path = ''; %>

<!DOCTYPE html>
<html lang="ja">
<head>
<% include ../../_include/_meta.ejs %>
</head>
<body>
<% include ../../_include/_header.ejs %>
<!-- /content -->
<div class="l-content">
  <div class="l-inner">

    <p>
      ここはaboutページです<br>
      <br><a href="/">トップページに移動</a>
    </p>
    <img class="c-image" src="/img/sample.jpg" alt="サンプル画像">

  </div><!-- /inner -->
</div><!-- /content -->

<% include ../../_include/_footer.ejs %>
</body>
</html>