<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="<%= path %>/css/style.css">
<script src="<%= path %>/js/index.js"></script>
<title><%= title %></title>
<meta name="description" content="<%= description %>">
</head>


<body>
  <header class="header">header</header>